@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

form {
    background-color: #42945a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50px 0px;
    font-family: 'Rubik Glitch', cursive;
}

input {
    color: #fff;
}


